*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
    background-image:linear-gradient(to right,#5ac75a,rgb(187, 79, 97));
    color:black;
}

.nave{
    display:flex;
    flex-direction:row;
}
.nave H1{
    margin-top:10px;
    margin-left:30px;
}
a{
    margin-right:10px;
    text-decoration: none;
    color:black;
}
.nave-menu{
    margin-left:900px;
    margin-top:15px
}
main{
    display:flex;
    justify-content:center;
    margin-top:50px;
}
.main-maior{
    display:flex;
    align-items:center;
    height:400px;
    width:600px;
    background-color:rgba(51, 83, 51, 0.15);
    backdrop-filter:blur(5px);
    border-radius: 5px;
    padding:15px;
}
.main-maior img{
width:40%;
border-radius:50%;
box-shadow: 2px 2px 2px 2px #39393a;
}
.main-menor{
    display:flex;
    flex-direction:column;
    line-height:1.6;
    padding-left:10px;

}
.figuras{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
}
.resumo{
    width:80px;
    height:80px;
    background-color:#dfae99;
    border-radius:50%;
}
    .resumo p{
    padding-top:25px;
    padding-left:14px;
}
.projeto{
    width:80px;
    height:80px;
    background-color:#dfae99;
    border-radius:50%;
}
    .projeto p{
    padding-top:25px;
    padding-left:15px;
}
.contato{
        width:80px;
        height:80px;
        background-color:#dfae99;
        border-radius:50%;
    }
    .contato p{
        padding-top:25px;
        padding-left:12px;
    }
footer{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin-top:50px;
}
 footer div img{
    width:50px;
    height:50px;
    align-self:flex-end;
}
footer div p{
    align-self:center;
}
.copyright{
    padding-top:15px;
  }
@media(max-width:500px){
  body{
    text-align: center;
  }
  .nave{
    display:flex;
    flex-direction:column;
}
.nave-menu{
  margin-left:30px;
  margin-top:15px;
}
  .main-maior{
    display:flex;
    flex-direction:column;
    margin: 50px 10px 10px 40px;
    height:600px;
    width:300px;
    background-image:linear-gradient(to right,#5ac75a,rgb(187, 79, 97));
    border-radius: 5px;
    padding-top:50px;
}
footer{
  display:flex;
  flex-direction:column;
  width:400px;
  justify-content:space-between;
  align-items:center;
  height:250px;
}
  
  }