*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color:#ccc;
}

.nave{
    display:flex;
    flex-direction:row;

}
.nave H1{
    margin-top:10px;
    margin-left:30px;
}
a{
    margin-right:10px;
    text-decoration: none;
    color:black;
}
.nave-menu{
    margin-left:900px;
    margin-top:15px
}
.main-maior{
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 100px 400px 0px 400px;
}
.main-maior img{
width:40%;
border-radius:50%;
padding-right:40px;
}
.main-menor{
    display:flex;
    flex-direction:column;
    line-height:1.6;

}
.figuras{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
}
.resumo{
    width:80px;
    height:80px;
    background-color:yellow;
    border-radius:50%;
}
    .resumo p{
    padding-top:25px;
    padding-left:14px;
}
.projeto{
    width:80px;
    height:80px;
    background-color:orangered;
    border-radius:50%;
}
    .projeto p{
    padding-top:25px;
    padding-left:15px;
}
.contato{
        width:80px;
        height:80px;
        background-color:rgb(90, 90, 160);
        border-radius:50%;
    }
    .contato p{
        padding-top:25px;
        padding-left:12px;
    }
footer{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin-top:100px
}
 footer div img{
    width:50px;
    height:50px;
    align-self:flex-end;
}
footer div p{
    align-self:center;
}
.copyright{
    padding-top:15px;
  }
@media screen and (max-width:500px){
    html,body{
        text-align:center;
    }
  .nave{
    display:flex;
    flex-direction:column;
  }
  .nave-menu{
    margin-left:30px;
    margin-top:15px;
  }
  .main-maior{
    display:flex;
    flex-direction:column;
    margin-left:180px;
    
  }
  .main-maior img{
    width:150px;
    height:150px;
  }
  .main-menor{
    display:flex;
  }
  .resumo p{
    margin-right:10px;
  }
  .contato p{
    margin-right:10px;
  }
  .projeto p{
    margin-right:10px;
  }
  footer{
    display:flex;
    flex-direction: column;
  }